@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Limelight&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
main {
  background-color: rgba(0, 0, 0, 0.949);
  color: white;
  padding: 30px;
}
h1 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: flex-start;
  align-items: start;
  .det {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    color: orange;
    font-weight: 900;
    font-size: 20px;
  }
}
h3 {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Limelight', sans-serif;
}
img {
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
button {
  padding: 10px;
  background-color: rgb(0, 0, 77);
  color: white;
  outline: none;
  border: none;
}
.grid {
  display: grid;
  gap: 1rem;
}
